$lightgray: #E9E8E8;

$color-primary: #333;
$color-secondary: #dfdfdf;

$color-gray-light: #eaeaea;
$color-gray-medium: #e9e8e8;
$color-gray-dark: #ddd; 

$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;



