.ops {
  &-hidden {
    visibility:hidden;
    display: none;
  }

  &-container{
    display: block;
    position:relative;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
  }

  &-list {
   justif-items: center;
    align-items: center;
    border-bottom: 1px dotted #FEC726;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-left: 20px;
    height: 75%;
  }

  &-date {
    grid-column: 4 /  5 ;
  }

  &-operation {
    grid-column: 1 / 2;
  }


  &-params {
    grid-column: 2  / 3 ;
  }

  &-result {
    grid-column: 3  / 4 ;
  }

  &-line {
    background: url(../assets/arrow.gif) no-repeat left 10px;
    padding-left: 20px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #FEC726;
  }

  &-header{
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    font-size: 0.9rem; 
 }

  a {
    text-decoration: none;
    color: black;
  }

  &-middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-entry {
    &-header {
      font-weight: 600;
      margin-bottom: 10px;
    }
    display: grid;
    grid-template-columns: 25% 30% 25% 20%;
    justify-content: center;
    align-items: center;
    height:1.3rem;
    font-size: 0.7rem; 
    width: 100%;

  }

  &-pagination {
    bottom: 0px;
    margin: 0 auto;
  }

  &-page {
    box-sizing: border-box;
    width: 50px;
    height: 20px;
    height:1.3rem;
    font-size: 0.7rem; 
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-pager {
    width: 50px;
    height: 20px;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #FEC726;
    font-size: 80%;
    cursor: pointer;
    &:hover {
      background-color: #FEC726;

    }
  }



  &-export-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:1.3rem;
    font-size: 0.7rem; 
    font-weight: bold;
    button {
      outline: none;
      border: none;
      height: 100%;
      width: 20px;
      display: flex;
      padding: 0;
      margin-right: 10px;
      svg {
      }
    }
  }

  &-export-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:1.3rem;
    font-size: 0.7rem; 
    font-weight: bold;
    button {
      outline: none;
      border: none;
      height: 100%;
      width: 20px;
      display: flex;
      padding: 0;
      margin-right: 10px;
      svg {
      }
    }
  }

}
